/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import '../../variables';
.file {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  overflow: hidden;
  background: #fff;
  border: 2px solid transparent;
  border-radius: 25px;
  -webkit-box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
  box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
  cursor: pointer;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:hover {
    border: 2px solid $primary;
    -webkit-box-shadow: 0 10px 20px rgb(184 165 238 / 80%);
    box-shadow: 0 10px 20px rgb(184 165 238 / 80%);
  }

  &__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 25px;
  }

  &__icon {
    width: 30px;
    height: 30px;
    fill: $primary;
  }

  &__dropdown {
    &-btn {
      cursor: pointer;

      &:hover .dropdown-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
      }
    }
  }

  &__dots {
    width: 30px;
    height: 20px;
    fill: #afafaf;
  }

  &__name {
    margin-bottom: 15px;
    padding: 0 25px;
    font-weight: 900;
    font-size: 20px;
  }

  &__date {
    margin-bottom: 50px;
    padding: 0 25px;
    color: $tertiary;
    font-weight: 600;
    font-size: 13px;
  }

  &__size {
    padding: 20px 25px;
    background-color: #ddd;
  }

  &-enter-active {
    -webkit-animation: file-enter-active 500ms forwards;
    animation: file-enter-active 500ms forwards;
  }
  @media (max-width: 992px) {
    &__name {
      font-size: 16px;
    }
  }
  @media (max-width: 768px) {
    &__name {
      font-size: 12px;
    }

    &__icon {
      width: 20px;
      height: 20px;
    }

    &__dots {
      width: 15px;
      height: 20px;
    }

    &__date {
      margin-bottom: 20px;
    }
  }
}

@-webkit-keyframes file-enter-active {
  0% {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes file-enter-active {
  0% {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
